services:
  postgres:
    image: postgres:16
    restart: always
    command:
      - "postgres"
      - "-c"
      - "shared_buffers=${PG_SHARED_BUFFERS:-256MB}"
      - "-c"
      - "work_mem=${PG_WORK_MEM:-16MB}"
      - "-c"
      - "maintenance_work_mem=${PG_MAINTENANCE_WORK_MEM:-256MB}"
      - "-c"
      - "effective_cache_size=${PG_EFFECTIVE_CACHE_SIZE:-2GB}"
      - "-c"
      - "max_connections=${PG_MAX_CONNECTIONS:-200}"
      - "-c"
      - "wal_buffers=${PG_WAL_BUFFERS:-16MB}"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    restart: always
    command:
      - "redis-server"
      - "--save"
      - ""
      - "--appendonly"
      - "${REDIS_APPENDONLY:-no}"
      - "--maxmemory"
      - "${REDIS_MAXMEMORY:-256mb}"
      - "--maxmemory-policy"
      - "${REDIS_MAXMEMORY_POLICY:-allkeys-lru}"
    volumes:
      - redisdata:/data

  moodle:
    platform: linux/amd64
    image: ${MOODLE_IMAGE}
    entrypoint: ["/usr/local/bin/setup.sh"]
    restart: always
    depends_on:
      - redis
      - postgres
    environment: &moodle_env
      DB_TYPE: ${DB_TYPE:-pgsql}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      TZ: ${MOODLE_TZ:-Europe/Kyiv}
      MOODLE_DOMAIN: ${MOODLE_DOMAIN}
      MOODLE_URL: ${MOODLE_URL}
      MOODLE_EXTRA_CONFIG_DIR: /config/moodle
    volumes:
      - moodlehtml:/var/www/html
      - moodledata:/var/moodledata
      - ./.env:/config/.env:ro
      - ~/.ssh:/root/.ssh:ro
      - ./config/php:/config/php:ro
      - ./config/moodle:/config/moodle
      - ./scripts:/scripts
      - ./scripts/setup.sh:/usr/local/bin/setup.sh

  cron:
    platform: linux/amd64
    image: ${MOODLE_IMAGE}
    depends_on:
      - moodle
      - postgres
      - redis
    restart: always
    environment:
      <<: *moodle_env
    volumes:
      - moodlehtml:/var/www/html
      - moodledata:/var/moodledata
      - ./.env:/config/.env:ro
      - ./config/php:/config/php:ro
      - ./config/moodle:/config/moodle
      - ./scripts:/scripts
    entrypoint: ["/usr/local/bin/php","/scripts/run_cron.php"]

  nginx:
    image: nginx:stable
    restart: always
    depends_on:
      - moodle
    ports:
      - "80:80"
    environment:
      MOODLE_DOMAIN: ${MOODLE_DOMAIN}
    volumes:
      - moodlehtml:/var/www/html:ro
      - moodledata:/var/moodledata:ro
      - ./config/nginx/conf.d:/etc/nginx/conf.d
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  pgdata:
  moodledata:
  moodlehtml:
  redisdata:
