name: Build Moodle LTS Images

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  DOCKER_IMAGE: ${{ vars.DOCKERHUB_IMAGE_HOST }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode: [dev, prod]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:${{ matrix.mode }}
          build-args: BUILD_MODE=${{ matrix.mode }}

      - name: Update DockerHub README
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ env.DOCKER_IMAGE }}
          readme-filepath: ./README.md
